@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

body {
	color: #fff;
	background-color: #000;
	font-family: 'Montserrat', sans-serif !important;

	.main {
		width: 90%;
		margin: auto;
		display: flex;
		min-height: 100vh;
		text-align: center;
		align-items: center;
		line-height: 1.5rem;
		flex-direction: column;
		justify-content: center;

		#countdown {
			margin: 5% 0;
			display: grid;
			grid-gap: 10px;
			font-size: 6vw;
			line-height: normal;
			grid-template-columns: repeat(7, max-content);

			.label {
				font-size: 2vw;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	body {
		.main {
			.logo {
				img {
					max-width: 100px;
				}
			}

			#countdown {
				font-size: 30px;
				.label {
					font-size: 14px;
				}
			}
		}
	}
}